<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:replace="fragments/head :: public-css"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed ">
&lt;!&ndash; Site wrapper &ndash;&gt;
<div class="wrapper">

  &lt;!&ndash; 头部区域 Navbar &ndash;&gt;
  <th:block th:replace="fragments/main-header"/>
  &lt;!&ndash; /.navbar &ndash;&gt;

  &lt;!&ndash; 左侧区域 Main Sidebar Container &ndash;&gt;
  <th:block th:replace="fragments/main-sidebar"/>

  &lt;!&ndash; 右侧主区域 Content Wrapper. Contains page content &ndash;&gt;
  <div class="content-wrapper">
      <img th:src="@{/modules/img/index.jpg}" src="../modules/img/index.jpg" width="100%" height="100%">
  </div>
  &lt;!&ndash; /.content-wrapper &ndash;&gt;

  &lt;!&ndash;右底部区域&ndash;&gt;
  <th:block th:replace="fragments/main-footer"/>

  &lt;!&ndash; 右上角工具栏 Control Sidebar &ndash;&gt;
  <th:block th:replace="fragments/control-sidebar"/>

</div>
&lt;!&ndash; ./wrapper &ndash;&gt;
<th:block th:replace="fragments/script :: public-js"/>
</body>
</html>
-->
